---
apiVersion: v1
kind: Pod
metadata:
  name: fishi0x01-debug-postgres-12-tooling
spec:
  containers:
  - image: postgres:12
    command: ["/bin/sh", "-c", "--"]
    args: ["while true; do sleep 30; done;"]
    imagePullPolicy: IfNotPresent
    name: postgres-tooling
  restartPolicy: Always
